<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--LINKS REF STYLES CSS & BOOTSTRAP-->
  <link rel="stylesheet" href="../css/style.css">
   <!--CDN LIBRARY BOOTSTRAP-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   <!--LIBRARY CDN FONTAWESOME ICONS-->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>MatApp - My Profile</title>
</head>


<body>
  <!--=============BODY PROFILE================-->
  <div class="body-profile">
   <h2 class="text-center m-3">MatApp - My Profile</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 img">
          <img src="../images/tech-7.jpg"  alt="" class="img-rounded">
        </div>

        <div class="col-md-6 details">
          <blockquote>
            <h5>Hola [Registrado Logueado]. Bienvenido a tu Cuenta</h5>
            <h5>Usuario (Dinámico)</h5>
            <small><cite title="Source Title">Academlo Squad 7</cite></small>
          </blockquote>
          <p>
          Correo (Logueado)<br>
          Puedes obtener infinitas oportunidades de espandir tu desarrollo personal, profesional y secular.<br>
          </p>
          <!--CARD PROFILE #1-->
          <div class="card">
            <div class="card-header">
             Communication
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
          </div>
          <!--CARD PROFILE #2-->
          <br>
          <div class="card">
            <div class="card-header">
              Communication
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <script type="module" src="./js/main.js"></script>
  <!--LIBRARY SCRIPTS BOOTSTRAP-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>